/************************************* 
    Contact page styling
**************************************/
.contact-cont {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    & div:first-child {
        border-right: solid 1px greenyellow;
        padding-right: 2rem;
    }
    &:nth-last-child(1) {
        text-align: center;
    }
    & div {
        width: 45%;
    }
}
.email-but {
    cursor: pointer;
    background-color: white;
    border: 2px solid greenyellow;
    color: black;
    padding: .9rem 1.5rem;
    text-align: center;
    font-size: 16px;
    border-radius: .5rem;
    transition-duration: 0.4s;
    &:hover {
        background-color: greenyellow;
        transform: scale(1.1);
    }
    & a {
        margin: auto;
        text-decoration: none;
        color: black;
    }
}
