//  Experience page styling
.head-align h1 {
    text-align: center;
}
/* card container styling */
.card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 2.5rem;
    & > div { 
        overflow: inherit;
        margin-bottom: 2.5rem;
        height: 24rem;
        width: 24rem;
        box-shadow: 15px 15px 30px gray;
        border-radius: .8rem;
        transition-duration: .3s;
    }
    & > div:hover {
        border-bottom: 3px solid greenyellow;
        transform: scale(1.05);
    }
}
 /* image container */
.img-con {
    height: 70%;
    background-color: gray;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    & img {
        height: auto;
        width: 100%;
        border-top-left-radius: .8rem;
        border-top-right-radius: .8rem;
    }
}
/* text container */
.txt-con {
    text-align: center;
    height: 30%;
    width: 100%;
    & p {
        margin: auto;
        padding-top: .5rem;
        width: 90%;
    }
}
