//  footer content styling
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: .5rem;
    padding: .6rem;
    & ul {
        margin: auto;
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 20%;
    }
    & p {
        margin: auto;
    }
    & a {
        text-decoration: none;
        color: black;
    }
    & i[class*="fa-frog"] {
        color: greenyellow;
    }
}

