/************************************** 
    main content styling
**************************************/
main {  /* main container styling */
    width: 90%;
    flex: 1;
    position: relative;
    overflow-y: auto;
    margin: auto;
}
.background-img {
    border: black solid 1px;
    width: 100%;
    height: auto;
    margin-bottom: 2.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Background-img.png");
}
.profile-img {
    display: block;
    margin: auto;
    margin-top: 5rem;
    height: 12rem;
    width: 12rem;
    border: greenyellow solid 2px;
    border-radius: 7rem;
}
.background-img h1 {
    color: greenyellow;
    text-align: center;
}
/************************************* 
    About me container styling
*************************************/
.about-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}
.about-me-section {
    width: 65%;
    border-right: solid 1px greenyellow;
}
.text-container {
    width:95%;
}
.hobbies {
    margin-right: 3rem;
    flex-basis:25%;
}