//////////////////////
// Global variables //
/////////////////////

// Fonts and Icons
$font-url-google      : "https://fonts.googleapis.com/css?family=Inria+Serif&display=swap";

$icon-url-fontawesome : "https://kit.fontawesome.com/5841212f09.js";

$font-family-primary  : "Inria Serif", "serif";

$icon-github          : "fab fa-github-square fa-2x";

$icon-instagram       : "fab fa-instagram fa-2x";

$icon-frog            : "fas fa-frog fa-2x";



// Font sizes

$fnt-size-small      : ".75rem";
$fnt-size-root       : "1rem";
$fnt-size-med        : "1.3rem";

//Base color theme

$blacknight          : #000;
$greenyellow         : #adff2f;
$plaingray           : #808080;
$whitecanvas         : #fff;